*{border:0;
padding:0; margin:0;}

body {
	background-color:#ECF3F8;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
#page{
	width:1000px;
	margin:auto;
	background-color:#FFFFFF;
}


a, a:visited{
	color:#87cefa;
    text-decoration: none;
	}


ol, ul {
    list-style: none;
}



/*The style below will apply to the element with an
id of "header" */
#header{
	width:100%;
	height:50px;
    background-color:#ECF3F8;
}




/*navigation menu*/
nav {
    background-color:#313335;
    overflow: hidden;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
}
nav ul li a {
    color: #F7F7F7;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding: 4px 10px 4px 11px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
    nav ul li a:hover, nav ul li.selected a {
        background: none repeat scroll 0 0 #3C3C3C;
}

    ul.navigation
{
    background:#fff;
}
ul.navigation li a
{
    text-decoration:none;
}
ul.navigation li a.on
{
    background:yellow;
    padding:2px 6px;
}






    /*logo and search form*/
.logo_search {
    background: #ffffff;
    overflow: hidden;
    position: relative;
}
.logo {
    float: left;
    padding: 10px 0 0 39px;
}
#search {
    float: right;
    margin: 5px 20px 0 0;
    text-align: right;
}
#search form {
    float:right;
}







/* Content section */
#main {
    background-color: #fff;
    padding:10px 0;
}
#content {
    overflow: hidden;
}
#content #left, #content #right {
    border: 1px solid #f7e3e3;
    float: left;
    margin: 0 2%;
    width: 60%;
}
#content #right {
    margin-left: 0;
    width: 30%;
}
#content h3 {
    background: linear-gradient(#ffffff, #f7e3e3);
    border-bottom: 1px solid #E0E0E0;
    color: #3C3C3C;
    font-size: 11px;
    font-weight: bold;
    line-height: 9px;
    padding: 9px 0 9px 5px;
    text-transform: uppercase;
}
#content ul {
    list-style:none outside none;
    margin:0;
    padding:0;
}
#content #left ul li {
    float:left;
    padding-bottom: 21px;
    width: 33%;
}
#content #left ul li:hover {
    background-color: #fbfbfb;
}
#content #right ul li {
    border-top: 1px solid #E7E7E7;
    overflow: hidden;
}
#content #right ul li:hover {
    background-color: #fbfbfb;
}
#content #left ul li .img {
    text-align: center;
}
#content #right ul li .img {
    background-color: #FFFFFF;
    float: left;
    height: 94px;
    text-align: center;
    width: 113px;
}
#content #left ul li .img img {
    height:128px;
    width:128px;
}
#content #right ul li .img img {
    height:70px;
    margin-top: 11px;
    width:70px;
}
#content #left ul li .info {
    padding: 17px 20px 0 19px;
}
#content #right ul li .info {
    float: left;
    overflow: hidden;
    padding: 17px 0 0 21px;
    width: 164px;
}
#content ul li .info .title {
    color: #4B4B4B;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}
#content ul li .info .title:hover {
    color: #727272;
}
#content #left ul li .info p {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
}
#content #left ul li .info .price {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 17px 0 10px;
    padding: 6px 0 6px 8px;
}
#content #right ul li .info .price {
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding-top: 25px;
}
#content #left ul li .info .price .st {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    margin-right: 3px;
    text-decoration: none;
}
#content #right ul li .info .price .st {
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding-top: 25px;
}

#content #left ul li .info .actions {
    overflow:hidden;
}
#content #left ul li .info .actions a {
    border: 1px solid #E0E0E0;
    color: #db2727;
    display: block;
    float:right;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
    text-decoration: none;
}
#content #left ul li .info .actions a:first-child {
    color: #543f3f;
    float:left;
}

#User {
    color: #313335;
}



#content #seachingleft {
    float: left;
    margin: 0 2%;
    width: 60%;
}


.TextBox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: 15px;
    padding: 5px;
    width: 129px;
}

.TextBoxSearch {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: 15px;
    padding: 5px;
    width: 345px;

    
   
}
.TextBoxBody {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    height: 50px;
    padding: 5px;
    width: 129px;
}
.ButtonSearch {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left-width:0px;
    color: #383838;
    cursor:pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0;
    width: 64px;
    margin-right: 2px;
    
}

.Button {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left-width:0px;
    color: #383838;
    cursor:pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0;
    width: 64px;
    margin-right: 2px;
}

.ButtonAdminBack {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-left-width:0px;
    color: #383838;
    cursor:pointer;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0;
    width: 150px;
}

.font {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}

.admincontent {
    border: 1px solid #f7e3e3;
    float: left;
    margin: 0 2%;
    width: 60%;
}


#content #admincontentleft, #content #admincontentright {
    border: 1px solid #f7e3e3;
    float: left;
    margin: 0 2%;
    width: 80%;
}
#content #admincontentright {
    margin-left: 0;
    width: 10%;
}


#content #productcontentleft, #content #productcontentright {
    border: 1px solid #f7e3e3;
    float: left;
    margin: 0 2%;
    width: 90%;
}
#content #productcontentright {
    margin-left: 0;
    width: 5%;
}

#content #productcontentleft ul li {
    float:left;
    padding-bottom: 21px;
    width: 25%;
}
#content #productcontentleft ul li:hover {
    background-color: #fbfbfb;
}

#content #productcontentleft ul li .img {
    text-align: center;
}

#content #productcontentleft ul li .img img {
    height:128px;
    width:128px;
}
#content #productcontentleft ul li .info {
    padding: 17px 20px 0 19px;
}

#content #productcontentleft ul li .info p {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
}
#content #productcontentleft ul li .info .price {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 17px 0 10px;
    padding: 6px 0 6px 8px;
}
#content #productcontentleft ul li .info .price .st {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    margin-right: 3px;
    text-decoration: none;
}
